
@font-face {
    font-family: 'norsebold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    border:0;
    overflow: hidden;
}
.leftAndRightCont{
    display: flex;   
}
.leafContainer{
    height: 100vh;
    width: 750px;
}
.leafBackground{
    height:100%;
}
.caption{
    text-align: center;
    position: relative;
    top:-185px;
    color: rgba(255, 255, 255, 0.815);
    font-size:14px;
    font-weight: 100;
}
a{
    color: rgba(255, 255, 255, 0.815);
}

.leafHeader{
    position:relative;
    top: -700px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.575);
}
.odinHead{
    height: 100px;
}
.headerText{
    color: white;
    font-size: 80px;
    font-family: 'norsebold',sans-serif;
}

.rightSideCont{
    padding-top: 80px;
    width: 100%;
    background-color: whitesmoke;
}

.firstLine{
    padding-left: 60px;
    padding-bottom: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 550;
    max-width: 52ch;
}
fieldset{
    padding-left: 60px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 10px 10px;
}
.formTitle{
    padding-top:30px;
    font-size: 26px;
    padding-bottom: 30px;
}
.form{
    display: flex;
    flex-wrap: wrap ;
    gap:80px;
    padding-bottom: 70px;
}

.leftSide, .rightSide{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:30px;
    width: 204px;
    flex-wrap: wrap;
}
input,
input[type="email"]{
    border:1px solid black;
    border-radius: 3px;
    width: 196px;
    height: 24px;
    padding-left: 4px;
}
.logIn{
    color:#596D48;
    cursor: pointer;
}

input:invalid{
    border: 1px solid red;
}
input:invalid + span::before {
    content: "*passwords do not match";
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 0, 0, 0.795);
  }
button{
    margin-top: 30px;
    margin-left: 60px;
    padding:10px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #596D48;
    color:white;
    border: 1px #596D48;
    border-radius: 5px;
    cursor: pointer;
}

.already{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 500;
}
@media only screen and (max-width: 900px){
    *{
        overflow:auto;
    }
    .leafContainer{
        overflow: hidden;
        height:400px;
        width: 100vh;
    }
    .leafBackground{
    }
    .leafHeader{
        top:-250px;
    }
    .leftAndRightCont{
        flex-wrap: wrap;
    }

}